h1{
  padding: 8px 16px;
  margin-bottom: 16px;
  font-size: 18px;
  border-bottom: 1px solid;
}

dl, dd{
  margin: 0;
}

dl > div{
  margin-bottom: 8px;
}

dt, dd{
  padding: 8px;
}

dt{
  position: relative;
  cursor: pointer;
  user-select: none;
}

dt::before{
  content: "Q. ";
}

dt::after{
  content: "+";
  position: absolute;
  top: 8px;
  right: 16px;
  transition: transform .3s;
}

dd{
  display: none;
}

dd::before{
  content: "A. ";
}

/* appear */
dl > div.appear dd{
  display: block;
  animation: .3s fadeIn;
}

dl > div.appear dt::after{
  transform: rotate(45deg);
}

/* animation */
@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}